<div class="register-container">
  <div class="container" style="min-height: 100vh">
    <!-- row -->
    <div class="row justify-content-center align-items-center">
      <!-- col -->
      <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1">
        <div class="mb-lg-9 mb-5">
          <h1 class="mb-1 h2 fw-bold">Login</h1>
        </div>

        <form action="/login" method="POST">
          <div class="row g-3">
            <!-- row -->

            <div class="col-12">
              <!-- input -->
              <input
                type="text"
                class="form-control"
                id="inputEmail4"
                placeholder="Tên đăng nhập"
                name="memberName"
                required
              />
            </div>
            <div class="col-12">
              <!-- input -->
              <input
                type="password"
                class="form-control"
                id="inputPassword4"
                placeholder="Password"
                name="password"
                required
              />
            </div>

            <!-- btn -->
            <div class="col-12 d-grid">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <a href="/auth/google" class="btn btn-primary">Login by google</a>
            <!-- link -->
            <div>Don’t have an account? <a href="/register"> Sign Up</a></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
