<h1>Register success</h1>

<br />

<div style="min-height: 100vh">
  <h1 class="display-1">Register success</h1>
  <h3 class="display-3">Member name: <%= memberName%></h3>
  <h3 class="display-3">Name: <%= name%></h3>
  <h3 class="display-3">YOB: <%= yob%></h3>
  <br />
</div>
