<div class="register-container">
  <div class="container">
    <!-- row -->
    <div
      class="row justify-content-center align-items-center"
      style="min-height: 100vh"
    >
      <!-- col -->
      <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1">
        <div class="mb-lg-9 mb-5">
          <h1 class="mb-1 h2 fw-bold">Register</h1>
        </div>

        <form action="/register" method="POST">
          <div class="row g-3">
            <!-- row -->

            <div class="col-12">
              <!-- input -->
              <input
                type="text"
                class="form-control"
                id="inputEmail4"
                placeholder="Tên đăng nhập"
                name="memberName"
                required
              />
            </div>
            <div class="col-12">
              <!-- input -->
              <input
                type="password"
                class="form-control"
                id="inputPassword4"
                placeholder="Password"
                name="password"
                required
              />
            </div>
            <div class="col-12">
              <input
                name="name"
                type="text"
                class="form-control"
                placeholder="Name"
              />
            </div>
            <div class="col-12">
              <input
                name="yob"
                type="number"
                min="1900"
                max="2024"
                class="form-control"
                placeholder="Year Of Birth"
              />
              <p class="error-message"><%= errorMessage %></p>
            </div>

            <!-- btn -->
            <div class="col-12 d-grid">
              <button class="btn btn-primary">Register</button>
            </div>
            <a href="/auth/google" class="btn btn-primary">Login by google</a>
            <!-- link -->
            <div>Have an account? <a href="/login"> Sign In</a></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<br />
