<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/css/admin/masterDashboard.css" />
    <link rel="stylesheet" href="/css/admin/dashboard.css" />

    <link rel="stylesheet" href="/css/admin/brand/create-brand.css" />
    <link rel="stylesheet" href="/css/admin/brand/get-brand.css" />
    <link rel="stylesheet" href="/css/admin/brand/edit-brand.css" />

    <link rel="stylesheet" href="/css/admin/watch/create-watch.css" />
    <link rel="stylesheet" href="/css/admin/watch/get-watch.css" />
    <link rel="stylesheet" href="/css/admin/watch/edit-watch.css" />

    <link rel="stylesheet" href="/css/admin/account/get-account.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const links = document.querySelectorAll(".dashboard-left a");

        links.forEach((link) => {
          if (link.href === window.location.href) {
            link.classList.add("highlight"); // Thêm lớp highlight nếu đường dẫn trùng khớp
          }
        });
      });
    </script>
  </head>

  <body style="margin: 0">
    <div class="">
      <div class="dashboard-left">
        <div class="logo">
          <a href="/"><img src="/assets/logo-watch.png" /></a>
        </div>
        <a href="/brands" role="button">Brands</a>
        <a href="/watches" role="button">Watches</a>
        <a href="/accounts" role="button">Accounts</a>
      </div>
      <div class="dashboard-right"><%- body%></div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const errorMessage = "<%= errorMessage %>";
        if (errorMessage) {
          const errorDiv = document.getElementById("error-message");
          errorDiv.textContent = errorMessage;
          errorDiv.style.display = "block";
          setTimeout(() => {
            errorDiv.style.opacity = "0";
            setTimeout(() => {
              errorDiv.style.display = "none";
            }, 1000);
          }, 3000);
        }
      });
    </script>
  </body>
</html>
