.create_brand-container {
  margin-top: 5%;
  width: 90%;
}
.create_brand-container .go_back-btn {
  margin-top: -2%;
  margin-bottom: 4%;
}
.create_brand-container .go_back-btn a {
  padding: 15px 20px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(159, 204, 244);
}
.create_brand-container .go_back-btn a:hover {
  background-color: #63697a;
}
.create_brand-container form label {
  font-size: 25px;
}
.create_brand-container form input {
  width: 70%;
  margin-left: 2%;
  padding: 10px;

  font-size: 20px;
}
.create_brand-container form p {
  font-size: 17px;
  color: red;
  margin: 0 0 2%;
  padding-left: 20%;
}
.create_brand-container form button {
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
}
.create_brand-container form button:hover {
  background-color: lightgray;
}
