<div class="header-container">
  <div class="logo">
    <a href="/"><img src="/assets/logo-watch.png" /></a>
  </div>

  <div class="user">
    <% if (session.memberId) { %>
    <!-- <a><%= session.memberId %></a> -->
    <a href="/logout">Đăng xuất</a> <br />
    <a href="/profile">Profile</a> <br />
    <% } else { %>
    <a href="/login">Đăng nhập</a> <br />
    <br />
    <a href="/register">Đăng ký</a> <br />
    <br />
    <% } %>
  </div>
</div>
