<div class="create_brand-container">
  <a href="/brands" class="btn btn-primary mb-2">â†</a>

  <form action="/create-brand" method="POST">
    <label for="">Brand's Name: </label>
    <input name="brandName" type="text" value="<%= brand.brandName%>" /> <br />
    <br />
    <p><%= errorMessage%></p>
    <button class="btn btn-primary mb-2">Create brand</button>
    <br />
    <br />
  </form>
</div>
