<div class="edit_brand-container">
  <a href="/brands" class="btn btn-primary mb-2">←</a>

  <form action="/edit-brand/<%= brand._id%>" method="POST">
    <label for="">Brand's Name: </label>
    <input
      type="text"
      placeholder="Tên sản phẩm"
      name="brandName"
      value="<%= brand.brandName%>"
    />
    <br />
    <br />
    <p><%= errorMessage%></p>
    <br />
    <button type="submit">Update</button>
  </form>
</div>
