<div class="get_account-container">
  <!-- basic table -->
  <table class="table">
    <thead>
      <tr>
        <th>No</th>
        <th>Username</th>
        <th>Name</th>
        <th>Year of Birth</th>
      </tr>
    </thead>
    <tbody>
      <% accounts.map((account, index)=> {%>
      <tr>
        <td class="get_account-td"><%= index + 1 %></td>
        <td class="get_account-td"><%= account.memberName%></td>
        <td class="get_account-td"><%= account.name%></td>
        <td class="get_account-td"><%= account.yob%></td>
      </tr>
      <%}) %>
    </tbody>
  </table>
</div>
