.create_watch-container {
  margin-top: 5%;
  width: 90%;
}

.create_watch-container .go_back-btn {
  margin-top: -2%;
  margin-bottom: 4%;
}
.create_watch-container .go_back-btn a {
  padding: 15px 20px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(159, 204, 244);
}
.create_watch-container .go_back-btn a:hover {
  background-color: #63697a;
}

.create_watch-container form label {
  font-size: 25px;
  width: 20%;
}

.create_watch-container form input {
  width: 70%;
  margin-left: 2%;
  padding: 10px;

  font-size: 20px;
}

.create_watch-container form p {
  font-size: 17px;
  color: red;
  margin: 0;
  padding-left: 25%;
}

.create_watch-container .watch-image {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.create_watch-container .watch-image input {
  padding-left: 20px;
  margin-left: 2.5%;
}
.create_watch-container .watch-image .show-image {
  margin-top: 3%;
  margin-left: 25%;
}

.create_watch-container .watch-automatic {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}
.create_watch-container .watch-automatic .watch-automatic-item {
  width: 70%;
  margin-left: 2%;
  display: flex;
  align-items: center;
}
.create_watch-container .watch-automatic .watch-automatic-item input {
  width: 10%;
  height: 20px;
}
.create_watch-container .watch-automatic .watch-automatic-item label {
  width: 55%;
  margin-right: 20%;
}

.create_watch-container .watch-des {
  display: flex;
  align-items: center;
}
.create_watch-container textarea {
  width: 70%;
  margin-left: 2.5%;
  padding: 10px;

  font-size: 20px;
}

.create_watch-container select {
  width: 70%;
  margin-left: 2%;
  padding: 10px;

  font-size: 20px;
}

.create_watch-container form button {
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
}
.create_watch-container form button:hover {
  background-color: lightgray;
}
