.get_watch-container{
    width: 90%;
    height: fit-content;
    background-color: white;
    margin-top: 5%;
    padding: 4% 0;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    border-radius: 20px;
    box-shadow: 1px 1px 14px 0px gray;
}

#error-message {
    font-family: "Josefin Sans", sans-serif;
    position: absolute;
    top: 20px;
    left: 60%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 80%;
    max-width: 600px;
    text-align: center;
    opacity: 1;
    transition: opacity 1s ease-out;
    display: none;
    font-size: 20px;
}

.get_watch-btn{
    width: 90%;
    margin-bottom: 2%;
    display: flex;
    justify-content: end;
}
.get_watch-btn a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;
    border-radius: 25px;
    padding: 15px 20px;
    background-color: rgb(233, 232, 232);
}
.get_watch-btn a:hover{
    color: black;
    background-color: lightgray;
}

.get_watch-table{
    width: 90%;
    border: 1px solid black;
}
.get_watch-th{
    text-align: start;
    padding: 10px;
    border: 1px solid black;
    background-color: black;
    color: white
}
.get_watch-td{
    padding: 5px 10px;
    border: 1px solid black;
}
.get_watch-table tr:nth-of-type(even){
    background-color: #ECECEC;
}
.get_watch-table td:nth-of-type(1){
    font-weight: bold;
}
.get_watch-table td:nth-of-type(2){
    width: 10%;
}
.get_watch-table td:nth-of-type(3){
    width: 5%;
}
.get_watch-table td:last-of-type{
    width: 12%;
}

.get_watch-td img{
    width: 60px;
    height: 70px;
}

.get_watch-td a {
    padding: 5px;
    text-decoration: none;
}
.get_watch-td a img{
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
}
.get_watch-td a:nth-of-type(1) img{
    background-color: red;
}
.get_watch-td a:nth-of-type(2) img{
    background-color: blue;
}
/* .get_watch-td a:nth-of-type(1){
    border-radius: 10px;
    margin-right: 2%;
}
.get_watch-td a:nth-of-type(2){
    font-size: 20px;
    border-radius: 10px;
}
.get_watch-td a:hover{
    background-color: rgb(204, 204, 204);
} */