.header-container{
    width: 100%;
    background-color: rgb(42, 42, 42);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;
}
.header-container .logo{
    margin: 1% 2%;
    width: 20%;
}
.header-container .logo img{
    width: 100px;
    height: 60px;
    cursor: pointer;
}
.header-container .user {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-container .user a{
    color: white;
    text-decoration: none;
    margin-right: 3%;
    padding: 10px 15px;
}
.header-container .user a:hover{
    background-color: lightgrey;
    color: black;
}
