.detail_watch-container {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  padding-top: 150px;

  display: flex;
  padding-bottom: 3%;
  font-family: "Josefin Sans", sans-serif;
}

.detail_watch-left {
  width: 50%;
  display: flex;
  justify-content: center;
}
.detail_watch-left img {
  background-color: white;
  width: 600px;
  height: 600px;
  box-shadow: 1px 1px 20px 5px rgb(171, 171, 171);
}

.detail_watch-right {
  width: 50%;
}

.detail_watch-right p:nth-of-type(1) {
  width: 90%;
  font-size: 30px;
  font-weight: bold;
  color: rgb(74, 74, 74);
}

.detail_watch-right .detail_watch-important {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail_watch-right .detail_watch-important p:nth-of-type(1) {
  width: 30%;
  font-size: 28px;
  color: deepskyblue;
}
.detail_watch-right .detail_watch-important div:nth-of-type(1) {
  width: 30%;
}
.detail_watch-right .detail_watch-important div:nth-of-type(1) p {
  width: 70%;
  padding: 15px 0;
  text-align: center;
  font-size: 17px;
  color: rgb(71, 71, 71);
  background-color: rgb(255, 182, 85);
  border-radius: 15px;
}
.detail_watch-right .detail_watch-important div:nth-of-type(2) {
  width: 30%;
}
.detail_watch-right .detail_watch-important div:nth-of-type(2) p {
  width: 70%;
  padding: 15px 0;
  text-align: center;
  font-size: 17px;
  color: rgb(34, 34, 34);
  background-color: rgb(255, 136, 85);
  border-radius: 15px;
}

.detail_watch-right p:nth-of-type(2) {
  font-size: 22px;
  font-weight: bold;
  color: rgb(74, 74, 74);
}

.detail_watch-right .detail_watch-des {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  background-color: #faead6;
}
.detail_watch-right .detail_watch-des .detail_watch-des-item {
  width: 47%;
  margin-left: 3%;
  font-weight: unset;
  font-size: 18px;
}
